body, html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#onfido-mount{
  width: 100%;
  height: 100%;
  min-height: 600px;

  @media only screen and (width >= 768px) {
    max-width: 600px;
    max-height: 800px;
  }
}

