.onfido-sdk-ui-Modal-inner {
  background: white;
}

.onfido-sdk-ui-Modal-content {
  background: white;
  color: black;
}

.onfido-sdk-ui-Theme-step {
  background: white;
}

.onfido-sdk-ui-Theme-btn {
    display: inline-block;
    font-weight: 500;
    border-radius: .25rem;
    border: none;
    padding: .375rem .5rem;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.onfido-sdk-ui-Theme-btn-primary,
.onfido-sdk-ui-Confirm-btn-outline  {
  border: 1px solid #db1711;
  background: #d40500;
  color: #ffffff;
}

.onfido-sdk-ui-DocumentSelector-option:hover
.onfido-sdk-ui-DocumentSelector-icon {
  border: 1px solid #db1711;
}


.onfido-sdk-ui-DocumentSelector-option:hover
.onfido-sdk-ui-DocumentSelector-icon.onfido-sdk-ui-DocumentSelector-icon-identity {
  background-image: url("assets/icon-identity-hover.svg");
}


.onfido-sdk-ui-DocumentSelector-option:hover
.onfido-sdk-ui-DocumentSelector-icon.onfido-sdk-ui-DocumentSelector-icon-passport {
  background-image: url("assets/icon-passport-hover.svg");
}


.onfido-sdk-ui-DocumentSelector-option:hover
.onfido-sdk-ui-DocumentSelector-icon.onfido-sdk-ui-DocumentSelector-icon-license {
  background-image: url("assets/icon-license-hover.svg");
}

.onfido-sdk-ui-Theme-overlay-shape {
    border-color: #db1711;
}
